.btn {
    align-items: center;
    background-color: $blue;
    border: 2px solid $blue;
    border-radius: 2px;
    color: $white;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    height: 36px;
    justify-content: center;
    line-height: 26px;
    text-align: center;
    width: 160px;

    &-outline {
        @extend .btn;
        background-color: transparent;
        color: $blue;
    }
}
