.wall {
    background-color: $blue;
}

.card {
    display: block;
    margin: 200px auto;
    border-radius: 10px;
}

.single {
    background-color: white;
}

.information {
    background-color: $cyan;
    display: flex;
}

.why-us {
    background-color: $green;
    display: flex;

}